/* Write your CSS here */
.image {
  height: 190px;
  width: 280px;
}

li {
  list-style-type: none;
  margin-bottom: 25px;
}

.destination {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 768px) {
  li {
    margin-right: 25px;
  }
}
